/* section Font begin */
body {
    font-size: 16px;
    font-family: serif;
}

/* end Font; */

/* section Box begin */
body {
    max-width: 50em;
    margin: 0;
    padding: 1em 1em 4em;
}

/* end Box; */

/* section Color begin */
.red {
    color: red;
}
